<h1>
  Control Panel
</h1>
<h3>
  <%= @channel.name %>
</h3>

<% if @videos.empty? %>
  <div class="text-lg font-bold">
    There are no videos for this channel (yet!).
  </div>
<% else %>
  <% @videos.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>



<% if @channel.suspended_at.present? %>
  SUSPENDED
<% else %>
  VALID
<% end %>

<%= button_to 'Suspend', control_panel_channel_suspension_path(@channel), method: :post, class: 'btn' %>
